@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #f6f6ff;
  --body-text: #1e293b;
  --standard-width: 1300px;
  --accent-color: #0077ff;
}

body {
  color: var(--body-text);
  background: var(--body-bg);
}

.standardWidth {
  margin: auto;
  width: var(--standard-width);
}

h1 {
  color: #0e011c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .accentColor {
    color: #008af4c6;
  }
}

.globalShadow {
  box-shadow: 0 20px 30px -6px #61aaee80;
}

#logo{
  font-size: 24px;
  color: #0077ff;
}

/* Global Button Design ----------- */
.btn {
  transition: all 0.3s ease-in-out;
}

.btn {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  /* padding: 7px 20px; */
  border-radius: 50px;
  box-shadow: 0 20px 30px -6px #61aaee80;
  background-image: linear-gradient(
    135deg,
    #5ca7fcbe 0%,
    var(--accent-color) 100%
  );
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}
